<body>
  <table style="width:100%" frame="box">
   <tr>
    <td>
     <div style="text-align:left"> 
     <h2>
       Kosciuszko Lodge 1085
     </h2>
     </div>
    </td>
    <td>
    </td>
    <td>
     <div style="text-align:right">
     <h2>
      Grand Lodge of New York
     </h2>
     </div>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
      
    </td>
    <td>

	  <script>

	    var app = angular.module("app", []);
	    app.controller("RadioController", function ($scope) {

		$scope.Lang = "English";

		$scope.RadioChange = function (s) {
		    $scope.LangSelected = s;
		};
	    });

	  </script>

	<div ng-app="app" ng-controller="RadioController" style="text-align:right">
	    <label>Select Language</label>
	    <label><input type="radio" name="SLang" ng-change="RadioChange('English')" ng-model="Lang" value="English"  /> English </label>
	    <label><input type="radio" name="SLang" ng-change="RadioChange('Polska')" ng-model="Lang" value="Polska" /> Polska </label>


	</div>


    </td>
   </tr>
  </table>
</body>
